<!-- Page Header -->
<div class="card">
    <div class="card-body">
      <div class="page-header">
        <div class="content-invoice-header">
          <h5><button [routerLink]="routes.transactionList" class="btn btn-back-custom" type="button">&#8592;</button>
             Transaction Details</h5>
          <div class="list-btn">
            <ul class="filter-list">
              <li>
                <a class="btn btn-import me-2" href="javascript:window.print()"><span><i class="feather icon-printer me-2"></i>Print</span></a>
              </li>
              <!-- <li>
                <a href="javascript:void(0);" class="btn btn-primary" download><i class="fa fa-download me-2" aria-hidden="true"></i>Download</a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
      <!-- /Page Header -->
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="invoice-card">
            <div class="card-bod">
              <div class="card-table">
                <div class="card-bod">
                  <!-- Invoice Logo -->
                  <div class="invoice-item invoice-item-one">
                    <div class="row align-items-center">
                      <div class="col-md-6">
                        <div class="invoice-logo">
                          <img src="{{transactionToView.img}}" alt="attachment">
                        </div>
                      </div>
                      <!-- <div class="col-md-6">
                        <div class="invoice-info">
                          <h1 class="text-warning">{{paymentStatus}}</h1>
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <!-- /Invoice Logo -->
  
                  <!-- Invoice Date -->
                  <div class="invoice-item invoice-item-date">
                    <div class="row">
                      <div class="col-md-4">
                        <p class="text-start invoice-details">
                          Date<span>: </span><strong>{{transactionToView.date}}</strong> 
                        </p>
                      </div>
                      <div class="col-md-4">
                        <p class="invoice-details">
                          Transaction No<span>: </span><strong> {{transactionToView.trans_id}} </strong> 
                        </p>
                      </div>
                      <div class="col-md-4">
                        <p class="invoice-details">
                          Transaction Amount <span>PKR: </span><strong> {{transactionToView.amount}} </strong> 
                        </p>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <div class="col-md-4" *ngIf="transactionToView.checkNumber">
                        <p class="text-start invoice-details">
                          Check Number: <span></span><strong> {{transactionToView.checkNumber}} </strong> 
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- /Invoice Date -->
                  
                  <!-- Invoice To -->
                  <div class="invoice-item invoice-item-two">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="invoice-info mb-3">
                          <strong class="customer-text-one">Debit Account<span>:</span></strong>
                          <p class="invoice-details-two">
                            {{transactionToView.debitAccount?.name}}<br>
                            {{transactionToView.debitAccount?.email}}<br>
                            {{transactionToView.debitAccount?.phone}}
                          </p>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="invoice-info invoice-info2 mb-3">
                          <strong class="customer-text-one">Credit Account<span>:</span></strong>
                          <p class="invoice-details-two">
                            {{transactionToView.creditAccount?.name}}<br>
                            {{transactionToView.creditAccount?.email}}<br>
                            {{transactionToView.creditAccount?.phone}}
                          </p>
                        </div>
                      </div>
                      <!-- <div class="col-md-4">
                        <div class="invoice-info invoice-info2 mb-3">
                          <strong class="customer-text-one">Make Your Payment Now<span>:</span></strong>
                          <p class="text-start invoice-details-t invoice-details">
                            Payment Term<span>: </span><strong>{{transactionToView.totalTerm}}</strong><span class="text-danger">Due in {{transactionToView.remainingDays}} days</span>
                          </p>
                          <div *ngIf="paymentStatus?.toLowerCase() === 'unpaid'" class="pay-btn">
                            <a href="javascript:void(0);" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#paynow_modal">Pay Now</a>
                          </div>
                          <div *ngIf="(paymentStatus?.toLowerCase() === 'paid')" class="pay-btn">
                            <a href="javascript:void(0);" class="btn btn-success mt-2" data-bs-toggle="modal" disabled="true" >Paid</a>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <!-- /Invoice To -->
  
                  <!-- Terms & Conditions -->
                  <div class="invoice-sign">										
                    <span class="d-block">Additional Notes</span>
                    <p class="mb-0">{{transactionToView.notes}}</p>
                  </div>
                  <!-- /Terms & Conditions -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pay Now Modal -->
  <!-- <div class="modal custom-modal fade pay-modal" id="paynow_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header border-0 pb-0">
          <div class="form-header modal-header-title text-start mb-0">
            <h4 class="modal-title">Invoice <span>#INV 00001</span></h4>
            <h5><span>Due Date : </span> 03 Jun 2023</h5>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            
          </button>
        </div>
        <div class="modal-body ">
          <div class="row">
            <div class="payment-heading">
              <h5>Select a Payment Method</h5>
            </div>
            <div class="input-block mb-3 paynow-tab">
              <ul class="nav nav-pills d-flex row" id="pills-tab" role="tablist">
                <li class="nav-item col-sm-4" role="presentation">
                  <button class="nav-link active cash" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Cash<i class="feather icon-dollar-sign"></i></button>
                </li>
                <li class="nav-item col-sm-4" role="presentation">
                  <button class="nav-link cheque" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Cheque<i class="feather icon-file-text"></i></button>
                </li>
                <li class="nav-item col-sm-4" role="presentation">
                  <button class="nav-link cheque"  data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">CreditCard<i class="feather icon-file-text"></i></button>
                </li>
              </ul>	
            </div>	
            <div class="tab-content pt-0" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="input-block mb-3">
                  <label for="Amount">Amount <span class="text-danger"> *</span></label>
                  <input type="text" class="form-control" placeholder="Enter Amount">	
                </div>
              </div>
              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="input-block mb-3">
                  <label for="Amount">Amount <span class="text-danger"> *</span></label>
                  <input type="text" class="form-control" placeholder="Enter Amount">	
                </div>
                <div class="input-block mb-3">
                  <label for="Cheque">Cheque Number <span class="text-danger"> *</span></label>
                  <input type="text" class="form-control" placeholder="Enter Cheque Number">	
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-back cancel-btn me-2">Cancel</a>
          <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary paid-continue-btn">pay Now</a>
        </div>
      </div>
    </div>
  </div> -->
  <!-- /Pay Now Modal -->
  

  <!-- Pay Now Modal -->
<!-- <div class="modal custom-modal fade pay-modal" id="paynow_modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header border-0 pb-0">
        <div class="form-header modal-header-title text-start mb-0">
          <h4 class="modal-title">Invoice <span>#INV 00001</span></h4>
          <h5><span>Due Date : </span> 03 Jun 2023</h5>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="payment-heading">
            <h5>Select a Payment Method</h5>
          </div>
          <div class="input-block mb-3 paynow-tab">
            <ul class="nav nav-pills d-flex row" id="pills-tab" role="tablist">
              <li class="nav-item col-sm-4" role="presentation">
                <button class="nav-link active cash" id="pills-cash-tab" data-bs-toggle="pill" data-bs-target="#pills-cash" type="button" role="tab" aria-controls="pills-cash" aria-selected="true" (click)="setPaymentMethod('cash')">
                  Cash <i class="feather icon-dollar-sign"></i>
                </button>
              </li>
              <li class="nav-item col-sm-4" role="presentation">
                <button class="nav-link cheque" id="pills-cheque-tab" data-bs-toggle="pill" data-bs-target="#pills-cheque" type="button" role="tab" aria-controls="pills-cheque" aria-selected="false" (click)="setPaymentMethod('cheque')">
                  Cheque <i class="feather icon-file-text"></i>
                </button>
              </li>
              <li class="nav-item col-sm-4" role="presentation">
                <button class="nav-link credit-card" id="pills-credit-tab" data-bs-toggle="pill" data-bs-target="#pills-credit" type="button" role="tab" aria-controls="pills-credit" aria-selected="false" (click)="setPaymentMethod('creditCard')">
                  Credit Card <i class="feather icon-credit-card"></i>
                </button>
              </li>
            </ul>
          </div>
          <div class="tab-content pt-0" id="pills-tabContent">


            <div class="tab-pane fade show active" id="pills-cash" role="tabpanel" aria-labelledby="pills-cash-tab">
              <div class="input-block mb-3">
                <label for="cashAmount">Amount <span class="text-danger"> *</span></label>
                <input type="text" class="form-control" placeholder="Enter Amount" [(ngModel)]="payment.amount">
              </div>
            </div>


            <div class="tab-pane fade" id="pills-cheque" role="tabpanel" aria-labelledby="pills-cheque-tab">
              <div class="input-block mb-3">
                <label for="chequeAmount">Amount <span class="text-danger"> *</span></label>
                <input type="text" class="form-control" placeholder="Enter Amount" [(ngModel)]="payment.amount">
              </div>
              <div class="input-block mb-3">
                <label for="chequeNumber">Cheque Number <span class="text-danger"> *</span></label>
                <input type="text" class="form-control" placeholder="Enter Cheque Number" [(ngModel)]="payment.chequeNumber">
              </div>
            </div>


            <div class="tab-pane fade" id="pills-credit" role="tabpanel" aria-labelledby="pills-credit-tab">
              <div class="input-block mb-3">
                <label for="creditAmount">Amount <span class="text-danger"> *</span></label>
                <input type="text" class="form-control" placeholder="Enter Amount" [(ngModel)]="payment.amount">
              </div>
              <div class="input-block mb-3">
                <label for="cardNumber">Card Number <span class="text-danger"> *</span></label>
                <input type="text" class="form-control" placeholder="Enter Card Number" [(ngModel)]="payment.cardNumber">
              </div>
              <div class="input-block mb-3">
                <label for="expiryDate">Expiry Date <span class="text-danger"> *</span></label>
                <input type="text" class="form-control" placeholder="MM/YY" [(ngModel)]="payment.expiryDate">
              </div>
              <div class="input-block mb-3">
                <label for="cvv">CVV <span class="text-danger"> *</span></label>
                <input type="text" class="form-control" placeholder="Enter CVV" [(ngModel)]="payment.cvv">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-back cancel-btn me-2">Cancel</a>
        <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary paid-continue-btn" (click)="processPayment()">Pay Now</a>
      </div>
    </div>
  </div>
</div> -->
<!-- /Pay Now Modal -->
