<div class="card mb-0">
  <div class="card-body">
    <div class="content-page-header">
      <h5>Add Purchase Return</h5>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group-item border-0 mb-0">
          <div class="row align-item-center">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="input-block mb-3">
                <label htmlFor="label">Purchase Return Voucher#</label>
                <input
                  id="label"
                  type="text"
                  class="form-control"
                  disabled="true"
                  [(ngModel)]="newPurchase.purch_id"
                  />
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="input-block mb-3">
                  <label htmlFor="label">Select Vendor <span class="text-danger">*</span></label>
                      <mat-select
                        [(ngModel)]="newPurchase.vendor"
                        [ngModelOptions]="{ standalone: true }"
                        class="select custom-mat-select"
                        >
                        <mat-option *ngFor="let vendor of allVendors" [value]="vendor">
                          {{ vendor.name }}
                        </mat-option>
                      </mat-select>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="input-block mb-3">
                  <label htmlFor="label">Return Date</label>
                  <input
                    disabled="true"
                    id="label"
                    type="text"
                    class="datetimepicker form-control"
                    placeholder="Select Date"
                    [(ngModel)]="newPurchase.purchase_date"
                    bsDatepicker [bsConfig]="{ adaptivePosition: true }"
                    [(bsValue)]="purchaseDateValue"
                    />
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="input-block mb-3">
                    <label htmlFor="label">Due Date</label>
                    <input
                      id="labbel"
                      type="text"
                      class="datetimepicker form-control"
                      placeholder="Select Date"
                      [(ngModel)]="newPurchase.due_date"
                      
                      
                      bsDatepicker [bsConfig]="{ adaptivePosition: true }"
                      [(bsValue)]="dueDateValue"
                      />
                    </div>
                  </div>
                  <!-- <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="input-block mb-3">
                      <label htmlFor="label">Reference No</label>
                      <input
                        id="label"
                        type="text"
                        class="form-control"
                        placeholder="Enter Phone Number"
                        [(ngModel)]="newPurchase.reference_no"
                        />
                      </div>
                    </div> -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label for="Supplier">Supplier Invoice Serial No</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter Supplier Invoice Serial No"
                          [(ngModel)]="newPurchase.invoice_sr_no"
                          />
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-6 col-sm-12">
                        <div class="input-block mb-3">
                          <mat-form-field class="w-100">
                            <mat-label>Products <span class="text-danger">*</span></mat-label>
                            <input type="text"
                                   placeholder="Select Products"
                                   aria-label="Product"
                                   matInput
                                   [formControl]="control"
                                   [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                              @for (option of filteredOptions | async; track option) {
                                <mat-option [value]="option" (onSelectionChange)="onProductSelect(option)"
                                >{{option}}</mat-option>
                              }
                            </mat-autocomplete>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group-item">
                    <div class="card-table">
                      <div class="card-body">
                        <div class="table-responsive">
                          <table
                            matSort
                            (matSortChange)="sortData($event)"
                            class="table table-center table-hover datatable"
                            >
                            <thead class="thead-light">
                              <tr>
                                <th mat-sort-header="product">Product / Service</th>
                                <th mat-sort-header="quantity">Quantity</th>
                                <th mat-sort-header="unit">Unit</th>
                                <th mat-sort-header="rate">Rate</th>
                                <th mat-sort-header="discount">Discount</th>
                                <th mat-sort-header="tax">Tax %</th>
                                <th mat-sort-header="amount">Amount</th>
                                <th >Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              @for (data of selectedProducts; track data; let i = $index) {
                                <tr>
                                  <td>{{ data.item }}</td>
                                  <td>{{ data.quantity }}</td>
                                  <td>{{ data.unit }}</td>
                                  <td>{{ data.purchasePrice }}</td>
                                  <td>{{ data.discount || 0 }}</td>
                                  <td>{{ data.tax || 0 }}</td>
                                  <td>PKR{{ data.amount }}</td>
                                  <td class="d-flex align-items-center">
                                    <a
                                      href="javascript:void(0);"
                                      class="btn-action-icon me-2"
                                      data-bs-toggle="modal"
                                      data-bs-target="#add_discount"
                                      (click)="setEditProduct(data)"
                                      ><span><i class="feather icon-edit"></i></span
                                    ></a>
                                    <a
                                      href="javascript:void(0);"
                                      class="btn-action-icon"
                                      data-bs-toggle="modal"
                                      (click)="setDeleteProduct(data)"
                                      data-bs-target="#delete_discount"
                                      ><span><i class="feather icon-trash-2"></i></span
                                    ></a>
                                  </td>
                                </tr>
                              }
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group-item border-0 p-0">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                          <div class="form-group-bank">
                            <div class="invoice-total-box">
                                  <div class="invoice-total-footer">
                                    <h4>Total Amount: <span>PKR{{ calculateTotalAmount() }}</span></h4>
                                  </div>
                                </div>
                                <!-- <div class="input-block mb-3">
                                  <label for="Signature">Signature Name</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Enter Signature Name"
                                    [(ngModel)]="newPurchase.signature_text"
                                    />
                                  </div> -->
                                  <div class="col-md-12">
                                    <div class="input-block mb-3 mb-0 pb-0">
                                      <label for="Signature">Add Attachment</label>
                                      <ngx-dropzone
                                        (change)="onSelect($event)"
                                        class="service-upload add-credit"
                                        >
                                        <ngx-dropzone-label class="drop-browse align-center">
                                          <span><i class="feather icon-upload-cloud me-2"></i>Upload Attachment</span>
                                        </ngx-dropzone-label>
                                        @for (f of files; track f) {
                                          <ngx-dropzone-image-preview
                                            ngProjectAs="ngx-dropzone-preview"
                                            [file]="f"
                                            [removable]="true"
                                            (removed)="onRemove(f)"
                                            >
                                          </ngx-dropzone-image-preview>
                                        }
                                      </ngx-dropzone>
                                    </div>
                                  </div>
                                  <div class="col-lg-12">
                                    <div class="input-block mb-3">
                                      <label htmlFor="label">Additional Notes</label>
                                      <textarea
                                        id="label"
                                        class="form-control"
                                        placeholder="Enter Additional Notes"
                                        [(ngModel)]="newPurchase.notes"
                                        ></textarea>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="text-end">
                            <button [routerLink]="routes.purchaseorders" type="reset" class="btn btn-primary me-2">Cancel</button>
                            <button [disabled]="(!newPurchase.vendor || selectedProducts.length === 0)" type="submit" class="btn btn-primary" (click)="addPurchase()">Save</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Add Tax & Discount Modal -->
                  <div class="modal custom-modal fade" id="add_discount" role="dialog">
                    <div class="modal-dialog modal-dialog-centered modal-md">
                      <div class="modal-content">
                        <div class="modal-header border-0 pb-0">
                          <div class="form-header modal-header-title text-start mb-0">
                            <h4 class="mb-0">Configure Product</h4>
                          </div>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                            >
                            <span class="align-center" aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-lg-12 col-md-12">
                              <div class="input-block mb-3">
                                <label htmlFor="label">Quantity</label>
                                <input
                                  id="label"
                                  type="number"
                                  class="form-control"
                                  [(ngModel)]="selectedProductEdit.quantity"
                                  />
                                </div>
                              </div>
                            <div class="col-lg-12 col-md-12">
                              <div class="input-block mb-3">
                                <label htmlFor="label">Rate</label>
                                <input
                                  id="label"
                                  type="number"
                                  class="form-control"
                                  [(ngModel)]="selectedProductEdit.price"
                                  />
                                </div>
                              </div>
                              <div class="col-lg-12 col-md-12">
                                <div class="input-block mb-3">
                                  <label htmlFor="label">Discount Amount</label>
                                  <input
                                    id="label"
                                    type="number"
                                    class="form-control"
                                    [(ngModel)]="selectedProductEdit.discount"
                                    />
                                  </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                  <div class="form-group mb-0">
                                    <label htmlFor="label">Tax</label>
                                    <select class="form-select" [(ngModel)]="selectedProductEdit.tax">
                                      <option value="0">N/A</option>
                                      <option value="5">5%</option>
                                      <option value="10">10%</option>
                                      <option value="15">15%</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <a
                                href="javascript:void(0);"
                                data-bs-dismiss="modal"
                                class="btn btn-back cancel-btn me-2"
                                >Cancel</a
                                >
                                <a
                                  href="javascript:void(0);"
                                  data-bs-dismiss="modal"
                                  class="btn btn-primary paid-continue-btn"
                                  (click)="updateProduct()"
                                  >Save</a
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- /Add Tax & Discount Modal -->

                          <!-- Delete Items Modal -->
                          <div class="modal custom-modal fade" id="delete_discount" role="dialog">
                            <div class="modal-dialog modal-dialog-centered modal-md">
                              <div class="modal-content">
                                <div class="modal-body">
                                  <div class="form-header">
                                    <h3>Remove Product</h3>
                                    <p>Are you sure want to remove?</p>
                                  </div>
                                  <div class="modal-btn delete-action">
                                    <div class="row">
                                      <div class="col-6">
                                        <a data-bs-dismiss="modal" (click)="deleteProduct()" class="btn btn-primary paid-continue-btn">Delete</a>
                                      </div>
                                      <div class="col-6">
                                        <a
                                          href="javascript:void(0);"
                                          data-bs-dismiss="modal"
                                          class="btn btn-primary paid-continue-btn"
                                          >Cancel</a
                                          >
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- /Delete Items Modal -->
